%h1 Similar Movies 

%table#movies
  %thead
    %tr
      %th#title_header 'Movie Title'
      %th Rating
      %th#release_date_header 'Release Date'
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Go back', movie_path(@movie)